.container {
  width: 350px;
  height: 250px;
  background-color: aqua;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.title-h1 {
  text-align: center;
}

.result {
  background-color: #858694;
  text-align: end;
  font-size: 2em;
  padding-right: 30px;
  grid-column: 1 / span 4;
  margin: 0;
  height: 60px;
  line-height: 60px;
}

.but {
  width: 100%;
  border: 1px solid rgba(160, 160, 160, 0.5);
  outline: none;
  font-size: 1.2em;
  height: 60px;
}

.digit {
  background-color: #e0e0e0;
}

.operator {
  background-color: #f5913e;
  border: 1px solid rgba(252, 252, 252, 0.5);
}

.double {
  grid-column: 1 / span 2;
}

.spinner-container {
  width: 100%;
  height: 100%;
  background: rgba(170, 170, 170, 0.38);
  position: absolute;
  top: 0;
  left: 0;
}

.spinner {
  width: 100px;
  height: auto;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 50%;
}

.active-link {
  color: blue !important;
}

.navBar,
.navlist {
  display: flex;
  flex-flow: row;
  list-style: none;
  justify-content: space-between;
  padding: 20px;
}

.navlist > li {
  margin-right: 20px;
  text-decoration: none;
}

.navlist > li > a,
.navlist > li > a:visited {
  text-decoration: none;
  color: red;
}

.home-title {
  padding-left: 50px;
}

.home-paragraph {
  padding: 50px;
  font-size: 1.4em;
  width: 40%;
  margin: auto;
}
