.container {
  width: 350px;
  height: 250px;
  background-color: aqua;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.title-h1 {
  text-align: center;
}

.result {
  background-color: #858694;
  text-align: end;
  font-size: 2em;
  padding-right: 30px;
  grid-column: 1 / span 4;
  margin: 0;
  height: 60px;
  line-height: 60px;
}

.but {
  /* height: 50px; */
  width: 100%;
  border: 1px solid rgba(160, 160, 160, 0.5);
  outline: none;
  font-size: 1.2em;
  height: 60px;
}

.digit {
  background-color: #e0e0e0;
}

.operator {
  background-color: #f5913e;
  border: 1px solid rgba(252, 252, 252, 0.5);
}

.double {
  grid-column: 1 / span 2;
}
